<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github-chernikovm" value="https://nuget.pkg.github.com/ChernikovM/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-chernikovm>
      <add key="Username" value="ChernikovM" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </github-chernikovm>
  </packageSourceCredentials>
</configuration>

